h5py
pytest
networkx
hypothesis
pymongo
redis
matplotlib
opencv-python
tensorflow-addons
tensorflow-probability
functorch
scipy
dm-haiku
pydriller
tqdm
coverage
einops
psutil
termcolor
colorama
packaging
nvidia-ml-py
paddle-bfloat
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability